[submodule "external/bx-python"]
	path = external/bx-python
	url = https://github.com/bxlab/bx-python.git
[submodule "external/BitArray"]
	path = external/BitArray
	url = https://github.com/noporpoise/BitArray.git
