include external/BitArray/AUTHORS
include external/BitArray/bit_array.c
include external/BitArray/bit_array.h
include external/BitArray/bit_macros.h
include external/BitArray/LICENSE
include external/BitArray/Makefile
include external/BitArray/README.md

include external/bitcnt.h
