include external/BitArray/AUTHORS
include external/BitArray/bit_array.c
include external/BitArray/bit_array.h
include external/BitArray/bit_macros.h
include external/BitArray/LICENSE
include external/BitArray/Makefile
include external/BitArray/README.md

include external/bitcnt.h

include external/bx-python/lib/bx/__init__.py
include external/bx-python/lib/bx/bbi/__init__.py
include external/bx-python/lib/bx/bbi/types.pxd
include external/bx-python/lib/bx/bbi/cirtree_file.pxd
include external/bx-python/lib/bx/bbi/bpt_file.pxd
include external/bx-python/lib/bx/bbi/bpt_file/__init__.py
include external/bx-python/lib/bx/bbi/bpt_file/BPTFile.pxd

recursive-exclude PyMaSC *.c
recursive-include PyMaSC *_2.c *_3.c *.pyx *.pxd
